@page "/account/detail/{EntityId}"

@using OxfoHome.DAL
@using OxfoHome.DAL.DTOs
@using OxfoHome.DAL.Services

<PageTitle>Account Details - OxfoHome</PageTitle>

<BackTo Link="/account/list" Title="Back to manage accounts" />

@if (entity != null)
{
    <div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-sm-6">
                <h3>Account Details</h3>
            </div>
            <div class="col-sm-6">
                <LinkButton Title="Edit" Link="@($"/account/info/{EntityId}")" />
            </div>
        </div>
    </div>
</div>
    <div class="row">
    <div class="col-lg-8">
        <DetailDisplay Data="entity" />
    </div>
</div>

}
else
{
    <Loader />
}

@inject IEncryptionService encryptor
@inject IAccountService accountService

@code {
    public AccountDTO? entity { get; set; }

    [Parameter] public string? EntityId { get; set; }

    protected override async Task OnInitializedAsync()
    {

        if (!string.IsNullOrWhiteSpace(EntityId))
        {
            try
            {
                int id = Convert.ToInt32(encryptor.Decrypt(EntityId));
                entity = await accountService.GetByID(id);
                if (entity == null)
                {
                    //show invalid URL error via toaster
                }
            }
            catch (Exception ex) { }
        }
    }
}